:root {
    --blue1 : #011f4b;
    --blue2 : #03396c;
    --blue3 : #005b96;
    --blue4 : #6497b1;
    --blue5 : #b3cde0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 40px;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

body {
    font-family: 'Space Mono', monospace;
    color: yellow;
    background: linear-gradient(to right, var(--blue5), var(--blue4));
    min-height: 100vh;
    overflow: hidden;
}

.main-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#demoCanvas {
    background-color: white;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}